@import "../fonts/stylesheet.css";

html, body {
	height: 100%;
}

body, td, th {
	margin: 0px;
	background: rgb(55,55,55);
	font-size: 15px;
	font-weight: 400;
	color: rgb(77,77,77);
	/*font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;*/
	font-family: "Helvetica Neue", 'thaisans' ,Helvetica,Arial,sans-serif;
}

h1, h2, h3, h4 {
	font-family: 'thaisans_bold';
	font-weight: 800;
}

a {
	text-decoration: none;
}

img {
	border: none;
}

.pink {
	color: rgb(255,0,150);
}

.light-grey {
	color: rgb(180,180,180);
}

.grey {
	color: rgb(66,66,66);
}