@import "../fonts/stylesheet.css";

html,body {
	height: 100%;
}

body,td,th {
	margin: 0px;
	font-size: 15px;
	/*font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;*/
	font-family: "Helvetica Neue", 'thaisans' ,Helvetica,Arial,sans-serif;
}

body {
	background: rgb(255,255,255);
}

a {
	border: none;
}
img {
	border: none;
}

h1 {
	font-family: 'thaisans_bold';
	font-weight: 800;
}

h2 {
	font-family: 'thaisans_bold';
	font-weight: 800;
	font-size: 150%;
}

h4 {
	font-family: 'thaisans_bold';
	font-weight: 800;
	color: rgb(110,110,110);
	margin: 5px 0px 0px 4px;
}

p {
	font-family: 'thaisans';
}

select{
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

a {
	text-decoration: none;
}

strong {
	font-family: 'thaisans_bold';
	font-weight: 800;
}

.error{
	font-family: 'thaisans';
	background-color: rgb(255,0,109);
	width: 430px;
	font-size: 13px;
	font-family: 'thaisans_bold';
	font-weight: 800;
	color: rgb(255,255,255);
	border-radius: 5px;
	padding: 10px;
	margin-left: 20px;
	margin-bottom: 10px;
}


.pink {
	color: rgb(255,60,160);
}

.grey {
	color: rgb(66,66,66);
}

.nav {
	border-radius: 5px;
	padding: 15px; 
	font-size: 180%;
	text-decoration: none;
	background: rgb(220,220,220); color: rgb(255,255,255);
}

.nav-select {
	background: rgb(255,25,173); color: rgb(255,255,255);
}

.sidebar{
	width: 470px;
	position: fixed;
}

.input-text {
	margin: 0px 0px 10px 0px;
	font-size: 15px;
	font-family: 'thaisans_light' ,Helvetica,Arial,sans-serif;
	font-weight: 100;
	outline: none;
	border: 0px;
	/*border-top:5px solid rgb(230,230,230);
	background: rgb(200,200,200);
	color: rgb(255,255,255);
	*/
	border-radius: 5px;
	border-top: 5px solid rgb(249,249,249);
	background: rgb(240,240,240);
	color: rgb(33,33,33);
	padding: 8px 10px 8px 10px;
	line-height: 22px;
	height: 22px;
	width: 140px;
}
select.input-text {
	padding: 0px 10px 0px 10px;
	height: 43px;
}
.input-text:focus {
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.25);
}

.input-pink {
	border-top: 5px solid rgb(255,163,221);
	background: rgb(255,25,173);
	color: rgb(255,255,255);
}
.input-blue {
	border-top: 5px solid rgb(159,165,206);
	background: rgb(60,83,154);
	color: rgb(255,255,255);
}

.show-text {
	margin: 0px 0px 10px 0px;
	font-size: 15px;
	font-family: 'thaisans_light' ,Helvetica,Arial,sans-serif;
	font-weight: 100;
	outline: none;
	border: 0px;
	/*border-top:5px solid rgb(230,230,230);
	background: rgb(200,200,200);
	color: rgb(255,255,255);
	*/
	/*border-radius: 5px;*/
	border-bottom: 4px solid rgb(245,245,245);
	/*background: rgb(240,240,240);*/
	color: rgb(33,33,33);
	padding: 8px 10px 2px 5px;
	line-height: 22px;
	height: 22px;
	width: 140px;
}
select.show-text {
	padding: 0px 10px 0px 10px;
	height: 43px;
}


.show-pink {
	border-bottom: none;
	/*background: rgb(255,25,173);*/
	color: rgb(33,33,33);
}
.show-blue {
	
	/*background: rgb(60,83,154);*/
	color: rgb(33,33,33);
}

.group {
	border-radius: 5px;
	padding: 10px 20px 10px 20px; 
}
.group-pink {
	background: rgb(255,230,246);
}

.just-left {
	float: left;
	margin-right: 20px;
}
.just-last {
	margin-right: 0px !important;
}

.big-button{
	float: left;
	width: 180px;
	background: rgb(240,240,240);
	font-family: 'thaisans_bold';
	vertical-align: center;
   margin: 0px 20px 0px 0px;
   text-align: center;
   border-radius: 4px;
}

.big-button .btn {
	margin: 0px;
	margin-top: 167px;
}

.big-button .img {
	height: 230px;
	background-image: url('../img/pdf_icon_s.png');
	background-repeat: no-repeat;
	background-position: center;
}

.details{
	color: rgb(33,33,33);
}

.add-box{
	float: left;
	height: 200px;
	width: 390px;
	background: rgb(240,240,240);
	font-family: 'thaisans_bold';
	vertical-align: center;
	border: 5px solid rgb(200,200,200);
    border-radius: 5px;
    margin: 10px;
    padding-left: 40px;
    padding-top: 40px;
    font-size: 150%;
}

.btn {
	display: inline-block;
	font-family: 'thaisans';
	font-weight: 100;
	padding: 5px 15px 5px 15px;
	border: 1px solid rgb(200,200,200);
	color: rgb(150,150,150);
	font-size: 18px;
	border-radius: 4px;
}

.btn-success {
	border-color: rgb(255,25,173);
	background: rgb(255,25,173);
	color: rgb(255,255,255);
}

.btn-default {
	border-color: rgb(220,220,220);
	background: rgb(240,240,240);
	color: rgb(110,110,110);
}

.btn-separator {
	padding: 15px;
	font-size: 14px;
	color: rgb(120,120,120);
}

h1 small {
	color: rgb(130,130,130);
	font-size: 70%;
}